<!-- sections/banner-alternative-master.liquid -->
{% comment %} 
Richtext section with options to display buttons and headings.

Globals:
- settings.layout_horizontal: horizontaly margin
{% endcomment %}
<style> 
  @media(max-width:900px)
  .mobile-size-overide-font {
  font-size:1.8rem !important
}
  .mobile-y-padding-overide{
    padding-top:5% !important;
    padding-bottom:5% !important;
  }
</style>
  <section class="mobile-y-padding-overide {{ section.settings.visibility }} {{ section.settings.color_scheme }}  {{ section.settings.color_border }} {{ section.settings.style_border }}" style="padding-left:var(--horizontal-side-gap); padding-right:var(--horizontal-side-gap);"> <div
    class="{{section.settings.max_width }} flex flex-col md:grid gap-x-16 gap-y-4"
    style='
    grid-template-columns:
    {% if section.settings.desk_img_position == "right" %}
      {{ section.settings.content_width }}%
    {% endif %}
    1fr
    {% if section.settings.desk_img_position == "left" %}
      {{ section.settings.content_width }}%
    {% endif %};
    {% if section.settings.mobile_img_position == "bottom" %}
      flex-direction: column-reverse;
    {% endif %};
    padding-top:{{ section.settings.spacing_top }}px;
    padding-bottom:{{ section.settings.spacing_bottom }}px;
    align-items:
    {% case section.settings.vertivle-alignment %}
      {% when 'top' %} flex-start
      {% when 'middle' %} center
      {% when 'bottom' %} flex-end
    {% endcase %}'>

    <div class="img {% if section.settings.desk_img_position == "right" %} desk-img-right {%endif%}">

      {% if section.settings.img_aspect_ratio == "original" %}
        {{ section.settings.image_background_desktop | image_url: width: 1700 | image_tag: class: '', loading: lazy_loading }}
      {% else %}
        <div
          class="relative w-full overflow-hidden"
          style='
          aspect-ratio:{% case section.settings.img_aspect_ratio %}
            {% when 'portrait' %} 4/5
            {% when 'square' %} 1
            {% when 'landscape' %} 5/4
          {% endcase %}'>
          {%- if section.settings.image_background_desktop %}
            {{ section.settings.image_background_desktop | image_url: width: 5760 | image_tag: class: 'w-full h-full object-cover z-10', loading: lazy_loading }}
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full object-cover bg-white z-10' }}
          {%- endif -%}
        </div>
        {% case section.settings.img_aspect_ratio %}{% endcase %}
      {% endif %}
    </div>


    <div class="flex">
      <div class="">
        {%- unless section.settings.heading == blank -%}
          <div style="text-align: {{section.settings.heading_alignment}}">
            <h2 class="mobile-size-overide-font inline-block mb-12 {{section.settings.heading_style}} {{section.settings.heading_size}}" {% if section.settings.heading-range != 60 %}style="max-width: {{section.settings.heading-range}}rem"{% endif %}>{{ section.settings.heading }}</h2>
          </div>

        {%- endunless -%}
        {%- unless section.settings.sub-heading == blank -%}
          <div style="text-align: {{section.settings.sub-heading_alignment}}">
            <h3 class="inline-block mb-12 {{section.settings.sub-heading_style}} {{section.settings.sub-heading_size}}" {% if section.settings.sub-heading-range != 60 %}style="max-width: {{section.settings.sub-heading-range}}rem"{% endif %}>{{ section.settings.sub-heading }}</h3>
          </div>
        {%- endunless -%}
        {%- unless section.settings.content == blank -%}
          <div class="">
            {{ section.settings.content }}
          </div>
        {%- endunless -%}
        {%- unless section.settings.button_url == blank -%}
          <div class="flex" style="{{section.settings.button_position}}">
            {% if section.settings.button_type == "arrow" %}
              {% render 'arrow__button' 
               , button_text_1: section.settings.button_label,
               button_text_2: section.settings.button_label_2,
               url: section.settings.button_url %}
            {% else %}
              {% render 'classic__button' 
               , button_text_1: section.settings.button_label,
               button_text_2: section.settings.button_label_2,
               url: section.settings.button_url,
               button-bg: section.settings.bg-color,
               button-text-color: section.settings.button-color %}
            {% endif %}
          </div>
        {%- endunless -%}
      </div>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Alt banner master",
    "settings": [
      {
        "type": "header",
        "content": "Image and Alignment settings"
      },
      {
        "type": "image_picker",
        "id": "image_background_desktop",
        "label": "t:sections.banner_alternative.settings.image_background_desktop.label",
        "info": "t:sections.banner_alternative.settings.image_background_desktop.info"
      },
      {
        "type": "select",
        "id": "desk_img_position",
        "label": "Image position on desktop",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "moblie_img_position",
        "label": "Image position on mobile",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      }, {
        "type": "select",
        "id": "img_aspect_ratio",
        "label": "Image aspect-ratio",
        "options": [
          {
            "value": "original",
            "label": "Original"
          }, {
            "value": "portrait",
            "label": "Portrait"
          }, {
            "value": "square",
            "label": "Square"
          }, {
            "value": "landscape",
            "label": "Landscape"
          }
        ]
      }, {
        "type": "select",
        "id": "vertivle-alignment",
        "label": "Verticle alignment (of both image and text)",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "middle",
            "label": "Middle"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      }, {
        "type": "range",
        "id": "content_width",
        "min": 10,
        "max": 90,
        "step": 5,
        "unit": "%",
        "label": "t:sections.banner_alternative.settings.content_width.label",
        "default": 50
      }, {
        "type": "header",
        "content": "Header and sub-header settings"
      }, {
        "type": "text",
        "id": "heading",
        "label": "t:sections.all.content.settings.heading.label"
      }, {
        "type": "select",
        "id": "heading_style",
        "label": "Header style",
        "options": [
          {
            "value": "",
            "label": "default"
          }, {
            "value": "heading-emphasis",
            "label": "italic"
          }, {
            "value": "font-wide",
            "label": "wide"
          }
        ]
      }, {
        "type": "select",
        "id": "heading_size",
        "label": "Header size",
        "options": [
          {
            "value": "text-[.9rem]",
            "label": "small"
          }, {
            "value": "text-[1.75rem]",
            "label": "medium"
          }, {
            "value": "text-[3rem]",
            "label": "large"
          }
        ]
      }, {
        "type": "range",
        "id": "heading-range",
        "min": 20,
        "max": 60,
        "step": 1,
        "unit": "rem",
        "label": "heading max range (will be ignored if 60)",
        "default": 60
      }, {
        "type": "select",
        "id": "heading_alignment",
        "label": "heading alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ]
      }, {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub-heading text"
      }, {
        "type": "select",
        "id": "sub-heading_style",
        "label": "sub-Header style",
        "options": [
          {
            "value": "",
            "label": "default"
          }, {
            "value": "heading-emphasis",
            "label": "italic"
          }, {
            "value": "font-wide",
            "label": "wide"
          }
        ]
      }, {
        "type": "select",
        "id": "sub-heading_size",
        "label": "Sub-Header size",
        "options": [
          {
            "value": "text-[.9rem]",
            "label": "small"
          }, {
            "value": "text-[1.75rem]",
            "label": "medium"
          }, {
            "value": "text-[3rem]",
            "label": "large"
          }
        ]
      }, {
        "type": "range",
        "id": "sub-heading-range",
        "min": 20,
        "max": 60,
        "step": 1,
        "unit": "rem",
        "label": "sub-heading max range (will be ignored if 60)",
        "default": 60
      }, {
        "type": "select",
        "id": "sub-heading_alignment",
        "label": "Sub-heading alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ]
      }, {
        "type": "paragraph",
        "content": "Content and buttons"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "t:sections.all.content.settings.content.label"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button first line"
      }, {
        "type": "text",
        "id": "button_label_2",
        "label": "button second line"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "t:sections.all.content.settings.button_url.label"
      }, {
        "type": "select",
        "id": "button_position",
        "label": "Button location",
        "options": [
          {
            "value": "",
            "label": "left"
          }, {
            "value": "justify-content:center",
            "label": "center"
          }, {
            "value": "justify-content:right",
            "label": "right"
          }
        ]
      }, {
        "type": "select",
        "id": "button_type",
        "label": "Button type",
        "options": [
          {
            "value": "arrow",
            "label": "Arrow button"
          }, {
            "value": "traditional",
            "label": "Traditional button"
          }
        ]
      }, {
        "type": "paragraph",
        "content": "the following settings only effect the traditional button"
      }, {
        "id": "bg-color",
        "type": "color",
        "label": "Button color"
      }, {
        "id": "Button_border",
        "type": "text",
        "label": "Border css value"
      }, {
        "id": "button-color",
        "type": "color",
        "label": "Button text color"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__22.content"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__22.content"
      }, {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 300,
        "step": 20,
        "unit": "px",
        "label": "t:sections.all.layout.settings.spacing.label_top",
        "default": 100
      }, {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 300,
        "step": 20,
        "unit": "px",
        "label": "t:sections.all.layout.settings.spacing.label_bottom",
        "default": 100
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__1.content"
      }, {
        "type": "select",
        "id": "color_scheme",
        "label": "t:sections.all.colors.settings.color_scheme.label",
        "options": [
          {
            "value": "color__bg-body color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__1.label"
          },
          {
            "value": "color__bg-neutral color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__2.label"
          },
          {
            "value": "color__bg-overlay-1 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__3.label"
          },
          {
            "value": "color__bg-overlay-2 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__4.label"
          }, {
            "value": "color__bg-overlay-3 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__5.label"
          }, {
            "value": "color__bg-primary color__primary",
            "label": "t:sections.all.colors.settings.color_scheme.options__6.label"
          }, {
            "value": "color__bg-secondary color__secondary",
            "label": "t:sections.all.colors.settings.color_scheme.options__7.label"
          }, {
            "value": "color__bg-tertiary color__tertiary",
            "label": "t:sections.all.colors.settings.color_scheme.options__8.label"
          }
        ],
        "default": "color__bg-body color__text"
      }, {
        "type": "select",
        "id": "color_border",
        "label": "t:sections.all.colors.settings.color_border.label",
        "options": [
          {
            "value": "color__border-divider-1",
            "label": "t:sections.all.colors.settings.color_border.options__1.label"
          }, {
            "value": "color__border-selected-1",
            "label": "t:sections.all.colors.settings.color_border.options__2.label"
          }
        ],
        "default": "color__border-divider-1"
      }, {
        "type": "select",
        "id": "color_button",
        "label": "t:sections.all.colors.settings.color_button.label",
        "options": [
          {
            "value": "btn",
            "label": "t:sections.all.colors.settings.color_button.options__1.label"
          },
          {
            "value": "btn btn--secondary",
            "label": "t:sections.all.colors.settings.color_button.options__2.label"
          },
          {
            "value": "btn btn--tertiary",
            "label": "t:sections.all.colors.settings.color_button.options__5.label"
          },
          {
            "value": "btn btn--neutral",
            "label": "t:sections.all.colors.settings.color_button.options__3.label"
          }, {
            "value": "btn btn--plain",
            "label": "t:sections.all.colors.settings.color_button.options__4.label"
          }
        ],
        "default": "btn btn--secondary"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__2.content"
      }, {
        "type": "select",
        "id": "style_border",
        "label": "t:sections.all.styles.settings.style_border.label",
        "options": [
          {
            "value": "",
            "label": "t:sections.all.styles.settings.style_border.options__1.label"
          }, {
            "value": "border--t-width",
            "label": "t:sections.all.styles.settings.style_border.options__2.label"
          }, {
            "value": "border--b-width",
            "label": "t:sections.all.styles.settings.style_border.options__3.label"
          }, {
            "value": "border--b-width border--t-width",
            "label": "t:sections.all.styles.settings.style_border.options__4.label"
          }
        ],
        "default": "border--b-width"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__8.content"
      }, {
        "type": "select",
        "id": "visibility",
        "label": "t:sections.all.visibility.label",
        "options": [
          {
            "value": "",
            "label": "t:sections.all.visibility.options__1.label"
          }, {
            "value": "md:hidden",
            "label": "t:sections.all.visibility.options__2.label"
          }, {
            "value": "hidden md:block",
            "label": "t:sections.all.visibility.options__3.label"
          }
        ],
        "default": ""
      }, {
        "type": "select",
        "id": "max_width",
        "label": "text section max-width",
        "options": [
          {
            "value": "max-medium",
            "label": "Medium"
          }, {
            "value": "max-large",
            "label": "Large"
          }, {
            "value": "max-ex-large",
            "label": "Extra large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Alt banner master",
        "settings": {
          "color_scheme": "color__bg-body color__text",
          "color_border": "color__border-divider-1",
          "color_button": "btn btn--secondary",
          "style_border": "border--b-width",
          "heading": "Rich text",
          "content": "<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
          "button_label": "Button",
          "button_url": "/"
        }
      }
    ],
    "disabled_on": {
      "groups": ["custom.overlay"]
    }
  }
{% endschema %}