<!-- sections/brand-gallery.liquid -->
{% comment %} 
Richtext section with options to display buttons and headings.

Globals:
- settings.layout_horizontal: horizontaly margin
{% endcomment %}<section
  class=" {{ section.settings.visibility }} {{ section.settings.color_scheme }}  {{ section.settings.color_border }} selection:{{ section.settings.style_border }}">
  <div class="{{ settings.layout_horizontal }}"style=" padding-top:{{ section.settings.spacing_top }}px; padding-bottom:{{ section.settings.spacing_bottom }}px;">

    <div class="{{ section.settings.layout_x_alignment }}">
      <div class="max-w-lg mb-10p">

        {%- unless section.settings.heading == blank -%}
          <h2 class="italic uppercase text-3xl">
            {{ section.settings.heading }}</h2>
        {%- endunless -%}
        {%- unless section.settings.content == blank -%}
          <div class="pl-32 py-8 mb-4">{{ section.settings.content }}</div>
        {%- endunless -%}
        {%- unless section.settings.button_url == blank -%}
          <a href="{{ section.settings.button_url }}" class="mt-2 {{ section.settings.color_button }}">
            {{ section.settings.button_label }}
          </a>
        {%- endunless -%}
        </div>

        <div class="md:columns-2 gap-36 brand-grid">

          {% for block in section.blocks %}
            <figure class="group break-inside-avoid mb-16 sm:mb-36">
              <h4 class="text-base font-medium font-wide uppercase">
                {{ block.settings.heading }}
              </h4>
              {{ block.settings.image_featured | image_url: width: 700 | image_tag: class: 'w-full h-full object-cover object-center', loading: 'lazy', alt: block.settings.image_featured.alt }}
              <figcaption class="py-4 text-sm">
                {{ block.settings.description }}</figcaption>
              {% if block.settings.url %}
              <a href="{{block.settings.url}}" class="button-with-arrow">
                <span>  {{block.settings.link_text}} </span>
                <!-- Arrow up right -->
                <svg
                  class="h-full ml-2 -mt-1"
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.0542 10.6525L10.6717 0.544087M10.6717 0.544087L1.07588 0.508765M10.6717 0.544087L11.1843 10.1262"
                    stroke="#fdfbf8"
                    stroke-linecap="square"
                    stroke-linejoin="round" />
                </svg>
              </a>
          {% endif %}
            </figure>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>

<style>
  @media (min-width: 768px) {
    .top-of-column:not(:first-child) {
      position: relative;
      top: 9rem;
      margin-bottom: 18rem;
    }
  }

</style>

<script>

  function topCheck() {
  // Get the column container element
  const columnContainer = document.querySelector('.brand-grid');
  const oldtops = columnContainer.querySelectorAll('.top-of-column')

  oldtops.forEach(tops => {
          tops.classList.remove("top-of-column")
  })

// Calculate the threshold position (parent container's Y-position + threshold)
  const threshold = columnContainer.offsetTop + 5;

// Get all the elements within the column container
  const elements = Array.from(columnContainer.children);


// Find the elements at the top of each column
  const topColumnElements = elements.filter((element) => {
    return element.offsetTop <= threshold;
  });

// Add a class to the elements at the top of each column
  topColumnElements.forEach((element) => {
    element.classList.add('top-of-column');
  });

  }

topCheck();

window.addEventListener("resize", topCheck);

</script>

{% schema %}
  {
    "name": "brand gallery",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.headers.header__4.content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.all.content.settings.heading.label"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:sections.all.content.settings.content.label"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.all.content.settings.button_label.label"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "t:sections.all.content.settings.button_url.label"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__22.content"
      }, {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 300,
        "step": 20,
        "unit": "px",
        "label": "t:sections.all.layout.settings.spacing.label_top",
        "default": 100
      }, {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 300,
        "step": 20,
        "unit": "px",
        "label": "t:sections.all.layout.settings.spacing.label_bottom",
        "default": 100
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__1.content"
      }, {
        "type": "select",
        "id": "color_scheme",
        "label": "t:sections.all.colors.settings.color_scheme.label",
        "options": [
          {
            "value": "color__bg-body color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__1.label"
          },
          {
            "value": "color__bg-neutral color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__2.label"
          },
          {
            "value": "color__bg-overlay-1 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__3.label"
          },
          {
            "value": "color__bg-overlay-2 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__4.label"
          }, {
            "value": "color__bg-overlay-3 color__text",
            "label": "t:sections.all.colors.settings.color_scheme.options__5.label"
          }, {
            "value": "color__bg-primary color__primary",
            "label": "t:sections.all.colors.settings.color_scheme.options__6.label"
          }, {
            "value": "color__bg-secondary color__secondary",
            "label": "t:sections.all.colors.settings.color_scheme.options__7.label"
          }, {
            "value": "color__bg-tertiary color__tertiary",
            "label": "t:sections.all.colors.settings.color_scheme.options__8.label"
          }
        ],
        "default": "color__bg-body color__text"
      }, {
        "type": "select",
        "id": "color_border",
        "label": "t:sections.all.colors.settings.color_border.label",
        "options": [
          {
            "value": "color__border-divider-1",
            "label": "t:sections.all.colors.settings.color_border.options__1.label"
          }, {
            "value": "color__border-selected-1",
            "label": "t:sections.all.colors.settings.color_border.options__2.label"
          }
        ],
        "default": "color__border-divider-1"
      }, {
        "type": "select",
        "id": "color_button",
        "label": "t:sections.all.colors.settings.color_button.label",
        "options": [
          {
            "value": "btn",
            "label": "t:sections.all.colors.settings.color_button.options__1.label"
          },
          {
            "value": "btn btn--secondary",
            "label": "t:sections.all.colors.settings.color_button.options__2.label"
          },
          {
            "value": "btn btn--tertiary",
            "label": "t:sections.all.colors.settings.color_button.options__5.label"
          },
          {
            "value": "btn btn--neutral",
            "label": "t:sections.all.colors.settings.color_button.options__3.label"
          }, {
            "value": "btn btn--plain",
            "label": "t:sections.all.colors.settings.color_button.options__4.label"
          }
        ],
        "default": "btn btn--secondary"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__2.content"
      }, {
        "type": "select",
        "id": "style_border",
        "label": "t:sections.all.styles.settings.style_border.label",
        "options": [
          {
            "value": "",
            "label": "t:sections.all.styles.settings.style_border.options__1.label"
          }, {
            "value": "border--t-width",
            "label": "t:sections.all.styles.settings.style_border.options__2.label"
          }, {
            "value": "border--b-width",
            "label": "t:sections.all.styles.settings.style_border.options__3.label"
          }, {
            "value": "border--b-width border--t-width",
            "label": "t:sections.all.styles.settings.style_border.options__4.label"
          }
        ],
        "default": "border--b-width"
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__3.content"
      }, {
        "type": "select",
        "id": "layout_x_alignment",
        "label": "t:sections.all.layout.settings.layout_x_alignment.label",
        "options": [
          {
            "value": "",
            "label": "t:sections.all.layout.settings.layout_x_alignment.options__1.label"
          }, {
            "value": "text-center justify-center",
            "label": "t:sections.all.layout.settings.layout_x_alignment.options__2.label"
          }, {
            "value": "text-right justify-end",
            "label": "t:sections.all.layout.settings.layout_x_alignment.options__3.label"
          }
        ],
        "default": ""
      }, {
        "type": "header",
        "content": "t:sections.all.headers.header__8.content"
      }, {
        "type": "select",
        "id": "visibility",
        "label": "t:sections.all.visibility.label",
        "options": [
          {
            "value": "",
            "label": "t:sections.all.visibility.options__1.label"
          }, {
            "value": "md:hidden",
            "label": "t:sections.all.visibility.options__2.label"
          }, {
            "value": "hidden md:block",
            "label": "t:sections.all.visibility.options__3.label"
          }
        ],
        "default": ""
      }
    ],
    "blocks": [
      {
        "name": "brand",
        "type": "images",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "heading"
          }, {
            "id": "image_featured",
            "type": "image_picker",
            "label": "gallery image"
          },
          {
            "id": "description",
            "type": "richtext",
            "label": "description"
          },
          {
            "id": "url",
            "type": "url",
            "label": "link url"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "link text"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand gallery",
        "settings": {
          "color_scheme": "color__bg-body color__text",
          "color_border": "color__border-divider-1",
          "color_button": "btn btn--secondary",
          "style_border": "border--b-width",
          "heading": "Rich text",
          "content": "<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
          "button_label": "Button",
          "button_url": "/"
        }
      }
    ],
    "disabled_on": {
      "groups": ["custom.overlay"]
    }
  }
{% endschema %}