{% schema %}
  {
    "name": "Footer New",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



<footer class="p-5p py-16">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-x-16">
        <div class="col-span-full lg:col-span-2 p-4">
            <a href="/">
                <h2 class="logo text-2xl font-wide uppercase font-medium mb-8"> Mother of Pearl <br> and sons trading </h2>
            </a>
            <div>
              {{ block.settings.footer-content }}
            </div>
        
        </div>

    
    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Brands <br> we stock</h4>
        <nav> 
            {%- for link in block.settings.menu-1.links -%}
                  <a href="{{ link.url }}" class="">
                    {{ link.title }}
                  </a>
            {%- endfor -%}
        </nav>      
    </div>

    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Architectural <br> hardware</h4>
        <nav> 
            {%- for link in block.settings.menu-2.links -%}
                  <a href="{{ link.url }}" class="">
                    {{ link.title }}
                  </a>
            {%- endfor -%}
        </nav>
    </div>

    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Kitchen <br> & Joinery </h4>
        <nav> 
            {%- for link in block.settings.menu-3.links -%}
                  <a href="{{ link.url }}" class="">
                    {{ link.title }}
                  </a>
            {%- endfor -%}
        </nav> 
        <h4 class="font-wide text-sm uppercase mb-8 mt-8"> Working <br> with us </h4>
        <nav> 
           {%- for link in block.settings.menu-4.links -%}
                  <a href="{{ link.url }}" class="">
                    {{ link.title }}
                  </a>
            {%- endfor -%}
        </nav>      
    </div>

    </div>

</footer>
<div class="p-8 border-t border-sand-300">
    <div class="max-w-screen-xl mx-auto text-center">
        <p class="uppercase text-xs mb-8 opacity-90 text-sand-300"> 
            © 2023 All rights reserved
             {%- for link in section.settings.sub_links.links -%}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {%- endfor -%}
        <p class="mb-0 text-xs italic opacity-90 text-sand-300">  Website designed & built by <a href="https://www.kelapacreative.com">Kelapa Creative </a></p>
    </div>
</div>