{% schema %}
{
  "name": "Footer New",
  "settings": [
    {
      "type": "richtext",
      "id": "footer-content",
      "label": "Footer Content",
      "default": "<p>Your default footer content</p>"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Brands Menu"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Hardware Menu"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "Kitchen Menu"
    },
    {
      "type": "link_list",
      "id": "menu_4",
      "label": "Working Menu"
    },
    {
      "type": "link_list",
      "id": "sub_links",
      "label": "Sub Links Menu"
    }
  ],
  "presets": [
    {
      "name": "footer v2.0",
      "category": "Footer"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<footer class="p-5p py-16">
  <div class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-x-16">
    <div class="col-span-full lg:col-span-2 p-4">
      <a href="/">
        <h2 class="logo text-2xl font-wide uppercase font-medium mb-8">
          Mother of Pearl <br>
          and sons trading
        </h2>
      </a>
      <div>
        {{ section.settings['footer-content'] }}
      </div>
    </div>

    <div class="col-span-1 p-4">
      <h4 class="font-wide text-sm uppercase mb-8">
        Brands <br>
        we stock
      </h4>
      <nav>
        {%- for link in linklists[section.settings.menu_1].links -%}
          <a href="{{ link.url }}" class="">
            {{ link.title }}
          </a>
        {%- endfor -%}
      </nav>
    </div>

    <div class="col-span-1 p-4">
      <h4 class="font-wide text-sm uppercase mb-8">
        Architectural <br>
        hardware
      </h4>
      <nav>
        {%- for link in linklists[section.settings.menu_2].links -%}
          <a href="{{ link.url }}" class="">
            {{ link.title }}
          </a>
        {%- endfor -%}
      </nav>
    </div>

    <div class="col-span-1 p-4">
      <h4 class="font-wide text-sm uppercase mb-8">
        Kitchen <br>
        & Joinery
      </h4>
      <nav>
        {%- for link in linklists[section.settings.menu_3].links -%}
          <a href="{{ link.url }}" class="">
            {{ link.title }}
          </a>
        {%- endfor -%}
      </nav>
      <h4 class="font-wide text-sm uppercase mb-8 mt-8">
        Working <br>
        with us
      </h4>
      <nav>
        {%- for link in linklists[section.settings.menu_4].links -%}
          <a href="{{ link.url }}" class="">
            {{ link.title }}
          </a>
        {%- endfor -%}
      </nav>
    </div>
  </div>
</footer>
<div class="p-8 border-t border-sand-300">
  <div class="max-w-screen-xl mx-auto text-center">
    <p class="uppercase text-xs mb-8 opacity-90 text-[#f3ebdb] flex md:block flex-col ">
      © 2023 All rights reserved
      {%- for link in linklists[section.settings.sub_links].links -%}
        <a href="{{ link.url }}" class="p-4 text-xs no-underline">{{ link.title }}</a>
      {%- endfor -%}
    </p>
    <p class="mb-0 text-xs italic opacity-90 text-[#f3ebdb]">
      Website designed & built by <a href="https://www.kelapacreative.com" class="text-xs no-underline">Kelapa Creative </a>
    </p>
  </div>
</div>
